@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* prevent body scrolling */
  margin: 0;
  height: 100%;
  overflow: hidden;

  /* prevent font smoothing to match figma font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

/* hide scroll bars */
div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
